[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
numpy = "*"
pandas = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
cloudpickle = "*"

[dev-packages]

[requires]
python_version = "3.9"
