{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col"></div>
    <div class="col-10">
        <h2>DevOps and Automation for AI (DOAA) CA1</h2>
        <p>
            This app aims to allow users to predict resale flat prices in Singapore using simple linear regression.
        </p>
        <p>
            To maximise the potential of this application, only intrapolation is permitted. I.e., only values within the
            range used to train the model are valid.
        </p>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-10 col-xl-8">
                <table class="table table-striped">
                    <thead>
                        <th scope="col"></th>
                        <th scope="col">Minimum Value</th>
                        <th scope="col">Maximum Value</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Floor Area (m<sup>2</sup>)</th>
                            <td>28.0</td>
                            <td>199.0</td>
                        </tr>
                        <tr>
                            <th scope="row">Bedrooms</th>
                            <td>1</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <th scope="row">Approval Date (DD-MM-YYYY)</th>
                            <td>01-01-1990</td>
                            <td>01-12-1999</td>
                        </tr>
                        <tr>
                            <th scope="row">Lease Commencement Year</th>
                            <td>1967</td>
                            <td>1997</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
        <p>
            The code for this project can be found on GitHub, in time to come :)
        </p>
        <p>
            <span class="signature">
                Ethan Tan<br>
                Student<br>
                <em>2012085</em><br>
                DAAA/FT/2B/03<br>
                School of Computing<br>
                Singapore Polytechnic
            </span>
        </p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
