{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col">
        <ul class="home_menu">
            <li class="nav-item">
                <a href="{{ url_for('routes.home') }}" class="nav-link {% if show == 'new' %}active{% endif %}">{% if
                    show == 'new' %}>> {% endif %}New
                    Prediction</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('routes.history') }}" class="nav-link {% if show != 'new' %}active{% endif %}">
                    {% if show != 'new' %}>> {% endif %}Prediction History</a>
            </li>
        </ul>
    </div>
    {% if show == 'new' %}
    <div class="col-10 col-md-8 col-lg-6 col-xl-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        {% if category == 'prediction' %}
        <p class="alert alert-success">{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endwith %}
        <form name="predictionForm" action="/predict" method="post">
            <fieldset class="form-group">
                <p>
                    {{ form.floor_area.label }}<br>
                    {{ form.floor_area(class_='form-control') }}
                    {% for error in form.floor_area.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.bedrooms.label }}<br>
                    {{ form.bedrooms(class_='form-control') }}
                    {% for error in form.bedrooms.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.approval_date.label }}<br>
                    {{ form.approval_date(class_='form-control') }}
                    {% for error in form.approval_date.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.lease_commencement_year.label }}<br>
                    {{ form.lease_commencement_year(class_='form-control') }}
                    {% for error in form.lease_commencement_year.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit(class_='form-control bg-primary text-white') }}
                </p>
            </fieldset>
        </form>
    </div>
    {% else %}
    <div class="col-10 col-md-8">
        <table class="table table-striped table-bordered m-2">
            <thead class="dark">
                <tr>
                    <th scope="col">#</th>
                    <td scope="col">Floor Area (m<sup>2</sup>)</td>
                    <td scope="col">Bedrooms</td>
                    <td scope="col">Approval Date</td>
                    <td scope="col">Lease Commencement Year</td>
                    <td scope="col">Price Prediction</td>
                    <td scope="col">Predicted On</td>
                    <td scope="col">Delete</td>
                </tr>
            </thead>
            <tbody>
                {% for past_pred in past_predictions %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ past_pred.floor_area }}</td>
                    <td>{{ past_pred.bedrooms }}</td>
                    <td>{{ past_pred.approval_date.date() }}</td>
                    <td>{{ past_pred.lease_commencement_year }}</td>
                    <td>{{ past_pred.resale_prediction|round(2) }}</td>
                    <td>{{ past_pred.predicted_on.strftime("%d %b %y %H:%M") }}</td>
                    <td class="justify-content-center del">
                        <form name="delete_record" action="/remove" method="post"
                              novalidate>
                        <input type="hidden" name="id" value="{{past_pred.id}}">
                        <button class="btn btn-sm btn-outline-dark pl-3 pr-3" type="submit">
                            <img class="img img-fluid" src="{{url_for('static', filename='img/trash-16.png')}}"
                                alt="DEL">
                        </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="col"></div>
</div>
{% endblock %}
