{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col"></div>
    <div class="col-10 col-md-8 col-lg-6 col-xl-4">
        <form name="predictionForm" action="/predict" method="post">
            <fieldset class="form-group">
                <p>
                    {{ form.floor_area.label }}<br>
                    {{ form.floor_area(class_='form-control') }}
                    {% for error in form.floor_area.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit(class_='form-control bg-primary text-white') }}
                </p>
            </fieldset>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}