{% extends "layout.html" %}
{% block content %}
<div class="row pt-5">
    <div class="col"></div>
    <div class="col-10 col-md-8 col-lg-6 col-xl-4">
        {{ render_flashes() }}
        <form name="signUpForm" action="{{ url_for('auth.sign_up') }}" method="post" class="sign_up">
            {{ form.hidden_tag() }}
            <fieldset class="form-group pb-3">
                {{ render_field(form.email, placeholder_='E.g. john_doe@abc.net') }}
                {{ render_field(form.new_username, placeholder_='E.g. John Doe') }}
                {{ render_field(form.new_password) }}
                {{ render_field(form.confirm_password) }}
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-warning">Cancel</button>
            </fieldset>
        </form>
        <a href="{{ url_for('routes.login') }}">Have an account? Login Here</a>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
